body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  word-break: break-all;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --ffm-monserat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--ffm-monserat);
  color: #fff;
  font-size: 15px;
  margin: 0;
  background-image: url('https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX15245297.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

input,
textarea,
select,
button {
  font-family: var(--ffm-monserat);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-size: cover;
}

.inner {
  max-width: 758px;
  margin: auto;
  background: #39459b;
  border: 10px solid #0d99d7;
  padding: 30px 30px 35px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

textarea {
  resize: none;
}

h2 {
  text-transform: uppercase;
  font-family: var(--ffm-monserat);
  text-align: center;
  margin-bottom: 12px;
  word-break: normal;
}

p {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 55px;
  line-height: 1.8;
}

.form-group {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-left: 7%;
}
.form-group span {
  font-size: 15px;
  color: #00ade6;
  position: absolute;
  top: 20px;
  transition: all 0.2s ease;
  transform-origin: 0 0;
  cursor: text;
}
.form-group span.border {
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 41px;
  transform: scaleX(0);
  transition: all 0.15s ease;
  background: #fff;
}

.form-control {
  border: none;
  border-bottom: 2px solid #00ade6;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: none;
  font-family: var(--ffm-monserat);
}
.form-control:focus,
.form-control:valid {
  border-bottom: 2px solid #fff;
}
.form-control:focus + span,
.form-control:valid + span {
  transform: translateY(-22px) scale(0.8);
}
.form-control:focus + span + .border,
.form-control:valid + span + .border {
  transform: scaleX(1);
}

textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  border: none;
  width: 140px;
  height: 40px;
  border: 2px solid #fff;
  margin: auto;
  margin-top: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--ffm-monserat);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-weight: 700;
  letter-spacing: 5px;
}

button:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
button:hover {
  border-color: transparent;
}
button:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.output {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
  justify-content: stretch;
  padding: 5px 50px;
}
.card {
  text-align: center;
  border: 1px solid #000070;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 5px;
  background-color: #39449ba8;
  color: #fff;
}

@media (max-width: 767px) {
  h2 {
    font-size: 38px;
  }

  p {
    font-size: 14px;
    padding: 0;
  }

  .inner {
    padding: 27px 20px 37px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
  }

  .wrapper {
    background: #39459b;
    border: 10px solid #0d99d7;
  }
}

/*# sourceMappingURL=style.css.map */
